In [ ]:
# @title
install.packages('ROSE')
library(ROSE)
install.packages('e1071')
library("e1071")
install.packages("readxl")
library("readxl")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loaded ROSE 0.0-4


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘proxy’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
dataimbanced <- read_excel('/content/Data Penyakit Jantung.xlsx')
dataimbalanced <- data.frame(dataimbalanced)al

summary(dataimbalanced)
head(dataimbalanced)
tail(dataimbalanced)
dim(dataimbalanced)

      age             sex               cp           trestbps
 Min.   :29.00   Min.   :0.0000   Min.   :0.000   Min.   : 94.0
 1st Qu.:47.50   1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:120.0
 Median :55.00   Median :1.0000   Median :1.000   Median :130.0
 Mean   :54.37   Mean   :0.6832   Mean   :0.967   Mean   :131.6
 3rd Qu.:61.00   3rd Qu.:1.0000   3rd Qu.:2.000   3rd Qu.:140.0
 Max.   :77.00   Max.   :1.0000   Max.   :3.000   Max.   :200.0
      chol            fbs            restecg          thalach
 Min.   :126.0   Min.   :0.0000   Min.   :0.0000   Min.   : 71.0
 1st Qu.:211.0   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:133.5
 Median :240.0   Median :0.0000   Median :1.0000   Median :153.0
 Mean   :246.3   Mean   :0.1485   Mean   :0.5281   Mean   :149.6
 3rd Qu.:274.5   3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:166.0
 Max.   :564.0   Max.   :1.0000   Max.   :2.0000   Max.   :202.0
     exang           oldpeak         slope             ca
 Min.   :0.0000   Min.   :0.00   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00   1st Qu.:1.000   1st Qu.:0.0000
 Median :0.0000   Median :0.80   Median :1.000   Median :0.0000
 Mean   :0.3267   Mean   :1.04   Mean   :1.399   Mean   :0.7294
 3rd Qu.:1.0000   3rd Qu.:1.60   3rd Qu.:2.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :6.20   Max.   :2.000   Max.   :4.0000
      thal           target
 Min.   :0.000   Min.   :0.0000
 1st Qu.:2.000   1st Qu.:0.0000
 Median :2.000   Median :1.0000
 Mean   :2.314   Mean   :0.5446
 3rd Qu.:3.000   3rd Qu.:1.0000
 Max.   :3.000   Max.   :1.0000

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  1   3  145      233  1   0       150     0     2.3     0     0  1
2 37  1   2  130      250  0   1       187     0     3.5     0     0  2
3 41  0   1  130      204  0   0       172     0     1.4     2     0  2
4 56  1   1  120      236  0   1       178     0     0.8     2     0  2
5 57  0   0  120      354  0   1       163     1     0.6     2     0  2
6 57  1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
298 59  1   0  164      176  1   0        90     0     1.0     1     2  1
299 57  0   0  140      241  0   1       123     1     0.2     1     0  3
300 45  1   3  110      264  0   1       132     0     1.2     1     0  3
301 68  1   0  144      193  1   1       141     0     3.4     1     2  3
302 57  1   0  130      131  0   1       115     1     1.2     1     1  3
303 57  0   1  130      236  0   0       174     0     0.0     1     1  2
    target
298 0
299 0
300 0
301 0
302 0
303 0

[1] 303  14

In [ ]:
dataimbalanced[,14] <- factor(dataimbalanced[,14])

summary(dataimbalanced)
dim(dataimbalanced)*

      age             sex               cp           trestbps
 Min.   :29.00   Min.   :0.0000   Min.   :0.000   Min.   : 94.0
 1st Qu.:47.50   1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:120.0
 Median :55.00   Median :1.0000   Median :1.000   Median :130.0
 Mean   :54.37   Mean   :0.6832   Mean   :0.967   Mean   :131.6
 3rd Qu.:61.00   3rd Qu.:1.0000   3rd Qu.:2.000   3rd Qu.:140.0
 Max.   :77.00   Max.   :1.0000   Max.   :3.000   Max.   :200.0
      chol            fbs            restecg          thalach
 Min.   :126.0   Min.   :0.0000   Min.   :0.0000   Min.   : 71.0
 1st Qu.:211.0   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:133.5
 Median :240.0   Median :0.0000   Median :1.0000   Median :153.0
 Mean   :246.3   Mean   :0.1485   Mean   :0.5281   Mean   :149.6
 3rd Qu.:274.5   3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:166.0
 Max.   :564.0   Max.   :1.0000   Max.   :2.0000   Max.   :202.0
     exang           oldpeak         slope             ca
 Min.   :0.0000   Min.   :0.00   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00   1st Qu.:1.000   1st Qu.:0.0000
 Median :0.0000   Median :0.80   Median :1.000   Median :0.0000
 Mean   :0.3267   Mean   :1.04   Mean   :1.399   Mean   :0.7294
 3rd Qu.:1.0000   3rd Qu.:1.60   3rd Qu.:2.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :6.20   Max.   :2.000   Max.   :4.0000
      thal       target
 Min.   :0.000   0:138
 1st Qu.:2.000   1:165
 Median :2.000
 Mean   :2.314
 3rd Qu.:3.000
 Max.   :3.000

[1] 303  14

In [ ]:
x <- dataimbalanced[,1:13]
kelasimbalanced <- dataimbalanced[,14]
dataimbalanced <-data.frame(x, kelasimbalanced=unlist(kelasimbalanced))

table(kelasimbalanced)

selisihkelasimbalanced<- table(kelasimbalanced)[2]-table(kelasimbalanced)[1]
selisihkelasimbalanced

kelasimbalanced
  0   1
138 165

 1
27

In [ ]:
data.balanced <- ovun.sample(kelasimbalanced~., data=dataimbalanced,
N=nrow(dataimbalanced), p =0.5, seed=12, method="both")$data
names(data.balanced)[14]<-"KelasBalanced"
summary(data.balanced)
table(data.balanced$KelasBalanced)
selisihkelasbalanced <- table(data.balanced$KelasBalanced)
[2]-table(data.balanced$KelasBalanced)[1]
selisihkelasbalanced

      age             sex               cp            trestbps
 Min.   :34.00   Min.   :0.0000   Min.   :0.0000   Min.   : 94
 1st Qu.:49.00   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:120
 Median :57.00   Median :1.0000   Median :1.0000   Median :130
 Mean   :54.69   Mean   :0.6997   Mean   :0.9241   Mean   :133
 3rd Qu.:61.00   3rd Qu.:1.0000   3rd Qu.:2.0000   3rd Qu.:140
 Max.   :77.00   Max.   :1.0000   Max.   :3.0000   Max.   :192
      chol            fbs            restecg          thalach
 Min.   :126.0   Min.   :0.0000   Min.   :0.0000   Min.   : 71.0
 1st Qu.:213.0   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:133.5
 Median :243.0   Median :0.0000   Median :0.0000   Median :154.0
 Mean   :247.8   Mean   :0.1551   Mean   :0.5017   Mean   :149.4
 3rd Qu.:281.5   3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:167.5
 Max.   :564.0   Max.   :1.0000   Max.   :2.0000   Max.   :195.0
     exang           oldpeak           slope             ca
 Min.   :0.0000   Min.   :0.0000   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:1.000   1st Qu.:0.0000
 Median :0.0000   Median :0.6000   Median :1.000   Median :0.0000
 Mean   :0.3069   Mean   :0.9779   Mean   :1.409   Mean   :0.8317
 3rd Qu.:1.0000   3rd Qu.:1.6000   3rd Qu.:2.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :6.2000   Max.   :2.000   Max.   :4.0000
      thal       KelasBalanced
 Min.   :0.000   1:151
 1st Qu.:2.000   0:152
 Median :2.000
 Mean   :2.297
 3rd Qu.:3.000
 Max.   :3.000

  1   0
151 152

0
1

In [ ]:
set.seed(123)
dataUji <- dataimbalanced[sample
(nrow(dataimbalanced), 0.5*nrow(dataimbalanced)), ]
aktual <- dataUji$kelasimbalanced
summary(dataUji)

      age             sex               cp          trestbps
 Min.   :34.00   Min.   :0.0000   Min.   :0.00   Min.   : 94.0
 1st Qu.:47.50   1st Qu.:0.0000   1st Qu.:0.00   1st Qu.:120.0
 Median :56.00   Median :1.0000   Median :1.00   Median :130.0
 Mean   :54.53   Mean   :0.6821   Mean   :1.04   Mean   :132.1
 3rd Qu.:62.00   3rd Qu.:1.0000   3rd Qu.:2.00   3rd Qu.:140.0
 Max.   :71.00   Max.   :1.0000   Max.   :3.00   Max.   :200.0
      chol            fbs            restecg          thalach
 Min.   :126.0   Min.   :0.0000   Min.   :0.0000   Min.   : 88.0
 1st Qu.:212.5   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:136.5
 Median :243.0   Median :0.0000   Median :1.0000   Median :153.0
 Mean   :246.9   Mean   :0.1788   Mean   :0.5166   Mean   :149.4
 3rd Qu.:274.5   3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:163.0
 Max.   :564.0   Max.   :1.0000   Max.   :1.0000   Max.   :195.0
     exang           oldpeak          slope             ca
 Min.   :0.0000   Min.   :0.000   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:1.000   1st Qu.:0.0000
 Median :0.0000   Median :0.800   Median :1.000   Median :0.0000
 Mean   :0.3179   Mean   :1.006   Mean   :1.364   Mean   :0.7152
 3rd Qu.:1.0000   3rd Qu.:1.600   3rd Qu.:2.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :4.200   Max.   :2.000   Max.   :4.0000
      thal       kelasimbalanced
 Min.   :1.000   0:63
 1st Qu.:2.000   1:88
 Median :2.000
 Mean   :2.338
 3rd Qu.:3.000
 Max.   :3.000

In [ ]:
  model.svm.imbalanced <- svm
  (kelasimbalanced~., data=dataimbalanced)
  model.svm.imbalanced

Call:
svm(formula = kelasimbalanced ~ ., data = dataimbalanced)


Parameters:
   SVM-Type:  C-classification
 SVM-Kernel:  radial
       cost:  1

Number of Support Vectors:  174

In [ ]:
model.svm.balanced <-svm
(KelasBalanced~., data=data.balanced)
model.svm.balanced

Call:
svm(formula = KelasBalanced ~ ., data = data.balanced)


Parameters:
   SVM-Type:  C-classification
 SVM-Kernel:  radial
       cost:  1

Number of Support Vectors:  179

In [ ]:
ypred <- predict(model.svm.imbalanced, dataUji)

(matcon <- table(prediksi=ypred,aktual))
(akurasiImbalanced <- sum(diag(matcon))/sum(matcon)*100)
(spesifisitasImbalanced <- matcon[1,1]/(matcon[1,1]+matcon[2,1]))
(sensitifitasImbalanced <- matcon[2,2]/(matcon[2,2]+matcon[1,2]))
(aucImbalanced <- (spesifisitasImbalanced+sensitifitasImbalanced)/2)

        aktual
prediksi  0  1
       0 57  6
       1  6 82

[1] 92.05298

[1] 0.9047619

[1] 0.9318182

[1] 0.91829

In [ ]:
ypred <- predict(model.svm.balanced, dataUji)

(matcon <- table(prediksi=ypred, aktual))
(akurasiBalanced <- sum(diag(matcon))/sum(matcon)*100)
(spesifisitasBalanced <- matcon[1,1]/(matcon[1,1]+matcon[2,1]))
(sensitifitasBalanced <- matcon[2,2]/(matcon[2,2]+matcon[1,2]))
(aucBalanced <- (spesifisitasBalanced+sensitifitasBalanced)/2)

        aktual
prediksi  0  1
       1  5 77
       0 58 11

[1] 10.59603

[1] 0.07936508

[1] 0.125

[1] 0.1021825

In [ ]:
data <- c('Imbalanced', 'Balanced')
akurasi <- c(akurasiImbalanced, akurasiBalanced)
spesifisitas <- c(spesifisitasImbalanced, spesifisitasBalanced)
sensitifitas <- c(sensitifitasImbalanced, sensitifitasBalanced)
auc <- c(aucImbalanced, aucBalanced)

tabelPerforma <- data.frame(data, akurasi, spesifisitas, sensitifitas, auc)
tabelPerforma

  data       akurasi  spesifisitas sensitifitas auc
1 Imbalanced 92.05298 0.90476190   0.9318182    0.9182900
2 Balanced   10.59603 0.07936508   0.1250000    0.1021825